@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.round-btn {
  height: 4rem;
  width: 4rem;
  
  background-color: $color-primary-light;
  box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  border: none;
  border-radius: 50%;
  
  color: $color-primary;
  cursor: pointer;

  transition: all .6s;

  &:hover {
    box-shadow: 0 1rem 2em rgba($color-black, .2);
    transform: translateY(-3px);
    background-color: $color-primary-dark;
    color: $color-white !important;
  }
}

@include respond(phone) {
  .delete-icon{
    font-size: 1.9rem;
  }
}