@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$color-primary: rgb(255, 174, 130);
$color-primary-dark: rgb(255, 125, 91);

$color-secondary-light: rgb(255, 224, 204);
$color-secondary: rgb(250, 192, 155);
$color-secondary-dark: rgb(254, 114, 91);

$color-grey-light-2: rgb(247, 247, 247);
$color-gray-light-1: rgb(173, 173, 173);
$color-gray: rgb(119, 119, 119);
$color-gray-dark-1: rgb(65, 65, 65);
$color-gray-dark-2: rgb(51, 51, 51);


$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$default-font-family: 'Lato', sans-serif;
$default-font-size: 1.6rem;