@import './abstracts/variables.scss';

.drop {
  // background-image: linear-gradient(to right top, $color-primary, $color-secondary );
  background-color: rgba(253, 253, 253, 0.15);
  box-shadow: 3px 2ps 7px rgba (17, 17, 17, 0.55);
  backdrop-filter: blur(20px);
  border-radius: 3px;
  border: 5px dashed transparent;
  cursor: pointer;
  color: $color-primary;
  padding: 5% 10%;
  margin: auto;
  transition: all .5s;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    border: 5px dashed $color-primary-dark;
    color: $color-primary-dark;
  }

  &-icon {
    color: inherit;
    font-size: 3rem;
    margin-bottom: 2%;
  }

  &-paragraph {
    color: inherit;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}