@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';

.drop {
  background-color: rgba(253, 253, 253, 0.15);
  backdrop-filter: blur(20px);
  box-shadow: 3px 2ps 7px rgba (17, 17, 17, 0.55);

  border-radius: 2.5rem;
  border: 5px dashed transparent;
  cursor: pointer;
  color: $color-primary;
  padding: 5% 10%;
  margin: auto;
  transition: all .5s;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
      border: 5px dashed $color-primary-dark;
      color: $color-primary-dark;
    }
    
  @include respond(tab-land) {
    border-color: $color-primary;
    color: $color-primary-dark;
    width: 70%;
  }

  @include respond(tab-port) {
    border: 3px dashed $color-primary !important;
    color: $color-primary-dark;
    width: 85%;
  }

  @include respond(phone) {
    width: 90%;
  }
  

  &-icon {
    color: inherit;
    font-size: 3rem;
    margin-bottom: 2%;

    @include respond(tab-land) {
      font-size: 3.5rem;
    }

    @include respond(tab-land) {
      font-size: 4rem;
    }

    
  }

  &-paragraph {
    color: inherit;
    font-size: 1.4rem;
    text-transform: uppercase;

    @include respond(tab-land) {
      font-size: 1.5rem;
    }

    @include respond(tab-land) {
      font-size: 1.7rem;
    }
  }
}