@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';

.header {
  background-color: transparent;
  height: 8vh;
  margin: auto;
  margin-bottom: 4%;
  width: 50%;

  display: flex;
  align-items: center;

  @include respond(tab-land) {
    width: 70%;
  }

  @include respond(tab-port) {
    width: 85%;
  }

  @include respond(phone) {
    width: 90%;
  }

  &-logo {
    width: 15%;

    @include respond(tab-land) {
      width: 13%;
    }

    @include respond(phone) {
      margin: auto;
      width: 20%;
    }
  }
}