@import './abstracts/variables.scss';

.header {
  background-color: transparent;
  height: 8vh;
  margin: auto;
  margin-bottom: 4%;
  width: 50%;

  display: flex;
  align-items: center;

  &-logo {
    width: 15%;
  }
}