@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';

.table-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  width: 50%;

  @include respond(tab-land) {
    width: 70%;
  }

  @include respond(tab-port) {
    width: 85%;
  }

  @include respond(phone) {
    width: 90%;
  }
}

.table {
  background-color: $color-primary-light;
  border-radius: 2.5rem;
  margin: auto;
  margin-top: 8%;
  padding: 2%;
  text-align: left;
  width: 100%;
  box-shadow: 0 .5rem 2rem rgba($color-black, .2);

  &-header th {
    border-radius: 3px;
    border-bottom: 1px solid $color-secondary-light;
    color: $color-secondary-dark;
    font-size: $default-font-size;
    font-weight: 400;
    text-transform: uppercase;
    width: 1%;
    padding: 2.5%;

    @include respond(tab-port) {
      font-size: 1.7rem;
    }

    &:not(:last-child) {
      width: 3%;
      padding: 0 6%;
    }

    &:nth-child(2) {
      width: 10%;
    }

    &:nth-child(3) {
      width: 7%;
    }
  }

  &-columns td {
    color: $color-gray-dark-1;
    border: 0;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1%;

    @include respond(tab-port) {
      font-size: 1.7rem;
    }

    &:not(:last-child) {
      width: 7%;
      padding: 0 6%;
    }
  }

  tr:nth-child(even) {
    background-color: $color-secondary-light;
  }

  &-input {
    margin: 6% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 100%;


    &-all {
      background-color: $color-primary-light;
      backdrop-filter: blur(20px);
      border: 1px solid $color-primary;
      border-radius: 2.5rem;
      box-shadow: 0 .4rem 1rem rgba($color-black, .2);
      color: $color-secondary-dark;
      font-family: $default-font-family;
      font-size: $default-font-size;
      height: 5rem;
      margin: 1px;
      padding: 2%;
  
      @include respond(tab-port) {
        font-size: 1.7rem;
      }
  
      &-1 {
        width: 14%;
      }
  
      &-2, &-3 {
        width: 40%;
      }
  
      &:focus {
        border: 2px solid $color-primary;
        outline: none;
      }
  
      &::placeholder {
        color: $color-secondary;
  
        @include respond(tab-port) {
          color: $color-primary;
        }
      }
    }
  
    &-btn {
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
      color: $color-secondary-dark !important;
      margin: 0 2.5% 0 3px;
      position: relative;
      transition: all .6s;
  
      &:hover {
        background-color: $color-secondary-dark !important;
        box-shadow: 0 1rem 2em rgba($color-black, .2);
      }

      &:disabled {
        color: $color-gray-light-1 !important;

        &:hover {
          background-color: $color-gray-light-1 !important;
          box-shadow: 0 1rem 2em rgba($color-black, .2);
        }
      }
    }
  
    &-icon {
      font-size: 2rem;
    } 
  }  
}

.add-btn {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@include respond(phone) {
  .table-input {
    flex-direction: column;

    &-all {

      font-size: 1.8rem;
      height: 5rem;
      margin: 2%;
      padding: 4%;
  
      &-1, &-2, &-3 {
        width: 100%;
      }
  
      &::placeholder {
        color: $color-primary;
      }
    }
  
    &-btn {
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
      color: $color-secondary-dark !important;
      margin-top: 3%;
      position: relative;
      transition: all .6s;
  
      &:hover {
        background-color: $color-secondary-dark !important;
        box-shadow: 0 1rem 2em rgba($color-black, .2);
      }
    }
  
    &-icon {
      font-size: 3rem;
    }
    
  }
}
