@import './styles/abstracts/variables.scss';

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}

body {
  font-family: $default-font-family;
  line-height: 1.7;
  color: $color-gray;
  padding: 3rem;

  box-sizing: border-box;

}
