@import './styles/abstracts/variables.scss';
@import './styles//abstracts/mixins.scss';

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; px/16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @include respond(big-desk) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }
}

body {
  // background-color: $color-grey-light-2;
  background-image: url('./styles/images/DANI-BG-7.jpg');
  background-size: cover;
  font-family: $default-font-family;
  line-height: 1.7;
  color: $color-gray;
  // padding: 3rem;

  box-sizing: border-box;

}
